body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a0a0a 0%, #222222 100%);
    background-size: 400% 400%;
    background-attachment: fixed;
    /* Gradient background */
    color: #fff;
    /* white text color */
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.checkbox-container {
    display: flex;
    align-items: center;
}

/* Optional styling for checkbox */
input[type="checkbox"] {
    margin-right: 5px; /* Adjust as needed */
}

.wave {
    background: rgb(255, 255, 255);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.01;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.01;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.01;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

h1 {
    font-family: 'Red Hat Display';
    font-size: 450%;
    background: linear-gradient(135deg, #006eff, #d400ff, #ff0000);
    /* Change color stops as per your preference */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
}
h2 {
    font-family: 'Red Hat Display';
    font-size: 200%;
    background: linear-gradient(135deg, #ff8800, #ffee00, #ff0000);
    /* Change color stops as per your preference */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
}

* {
    font-family: 'Red Hat Display';
    font-size: 25px;
    color: #fff;
}

p {
    margin: 20px;
}

.content {
    text-align: center;
    opacity: 0;
    animation: fadeIn 3s ease forwards, moveUp 1s ease forwards;
    /* Fade-in and move-up animations */
}

.button {
    font-family: 'Red Hat Display';
    background-color: transparent; /* Transparent background */
    border: 2px solid #fff; /* White border */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    margin-bottom: 10px; /* Space between buttons */
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.button:hover {
    background: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
}

input {
    width: 80%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: transparent;
    background-color: #0a0a0a25
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .error {
    background-color: #ff3333;
  }
  
  .success {
    background-color: #33cc33;
  }

.button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-button {
    font-size: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    width: 80px;
    height: 80px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.about-button {
    font-size: 40px;
    position: fixed;
    top: 110px;
    left: 20px;
    z-index: 9999;
    width: 80px;
    height: 80px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.home-button:hover {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
}
.about-button:hover {
    position: fixed;
    top: 110px;
    left: 20px;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}